body{

}

.conteiner {
    position: fixed;     /* Fixa o contêiner na tela (não rola com a página) */
    top: 30px;           /* Define a distância de 20px do topo da janela */
    right: 50px;         /* Define a distância de 50px da borda direita da janela */
    display: flex;       /* Ativa o layout flexível para alinhar os itens lado a lado */
    gap: 40px;           /* Define 40px de espaço entre os itens filhos (ex: spans) */
    
}


.conteiner a {
    text-decoration: none; /* por que tem que selecior o a parar funcionar */
    padding: 10px 20px; 
    transition: background-color 0.4s;
    border-radius:12%;
    font-family: 'Times New Roman', Times, serif;
    color: black;

}


.conteiner a:hover {
   background-color: rgba(61, 179, 81, 0.589);
   transform: translateY(-5px);
}

.texto1 {
    font-size: 45px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: -18px;
    
    

}
.texto2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;


}

.texto3 h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}

.texto3 h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: justify;
    line-height: 140%;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: justify;
    line-height: 140%;
    list-style-position: inside;
    padding-left: 0;
}

ul li {
    margin-bottom: 20px; /* aumenta o espaço entre os tópicos */
}


h4{
   font-family: Arial, Helvetica, sans-serif;
font-size: 30px; 
}

.Img1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; 
}

.Img2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.Img3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  
}

